body{
	max-width: 100%; 
	overflow-x: hidden;
	margin:0;
	padding:0;
	height:100%;
}
h1{
  display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Raleway', sans-serif;
}

form{
  display: inline-block;
}

input[type=text]{
  display: inline-block;


}

table,th,td{

    border: 1px solid black;

}
