body{

}
h1{
  color: red;
}

form{
  display: inline-block;
}

input[type=text]{
  display: inline-block;
}

.admin-yes{
  font-weight: bold;
}

/*table,th,td{
    border: 1px solid black;

}*/

.login-form{
  text-align: center;
}
.login-title{
  text-align: center;
}

.myalert{
  text-align: center;
}
